body{
	background-color: yellow;
	font: Serif;
	text-align: center;
	table-align: center;
	margin: 0;
    padding: 0;

}
table{
	background-color: yellow;
	font: Serif;
	width: 50%;
	margin: 0 auto;
}
td{
    text-align: left;
    height: 50px;
    vertical-align: middle;
    padding: 15px;
}